
main{
    overflow: hidden;
}

#s1, #s3{
    animation-duration: 3s;
    animation-name: slidein;
}

#s2{
    animation-duration: 3s;
    animation-name: slidein2;
}

hr, h1, h5{
    animation-duration: 6s;
    animation-name: display;
}

@keyframes slidein {
    from {
        translate: 200% 0;
    }

    to {
        translate: 0 0;
      }
}

@keyframes slidein2 {
    from {
        translate: -200% 0;
    }

    to {
        translate: 0 0;
      }
}

@keyframes display {
    from{
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}

