<div class="container-fluid p-0" id="background">
    <main class="h-100 text-center">
        <div class="h-100 d-flex justify-content-center">
            <div class="p-2 d-flex flex-column justify-content-center text-white">
                <h1 class="justify-content-center">ENZO BAUTISTA</h1>
                <h5>FULLSTACK DEVELOPER</h5>
                <hr>
                <span>Hello, my name is Enzo and I am fullstack developer.</span>
                <br>
                <span>Currently I am studying for a bachelor's degree in computer science.</span>
                <br>
                <span>I am passionate about learning different technologies</span>
            </div>
        </div>
    </main>
</div>