.container-p{
    max-width: 50%;
}

section{
    overflow: hidden;
    min-height: 100vh;
    max-width: 90%;
    width: 32rem;
    margin: auto;
}

@keyframes display {
    from{
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}

