<app-nav></app-nav>
<div class="container-fluid" id="background">
    <main class="h-100 d-flex align-items-center justify-content-center text-white">
        <div class="text-center" style="width: 32rem;">
            <div>
                <img src={{persona.img}} class="img-fluid" id="fotodeperfil">
            </div>
            <br>
            <h1>{{persona.nombre}} {{persona.apellido}}</h1>
            <hr>
            <div>
                <div>
                    <p>{{persona.descripcion}}</p>
                </div>
            </div>
            <button class="btn btn-light" routerLink="/editabout/{{persona.id}}" *ngIf="isLogged">
                <fa-icon [icon]="faPenToSquare"></fa-icon>Editar
            </button>
        </div>
    </main>
</div>