<section class="p-3 py-5 d-flex justify-content-center" id="experience">
    <div class="d-flex flex-wrap align-content-center text-white">
        <div class="text-center ani">
            <h2>EXPERIENCE</h2>
            <div>
                <button type="button" routerLink="/newexp" class="btn-outline-light btn-primary btn mb-3"
                    *ngIf="isLogged">Add</button>
            </div>
            <div *ngFor="let Experiencia of experiencia">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h3 class="m-0">{{Experiencia.nombreEx}}</h3>
                    </li>
                    <li class="list-group-item">{{Experiencia.descripcionEx}}</li>
                    <br *ngIf="!isLogged">
                </ul>
                <div class="py-3" *ngIf="isLogged">
                    <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                        <fa-icon [icon]="faPenToSquare"></fa-icon>
                    </button>
                    <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>