<div class="container-fluid" id="background">
    <main class="h-100 d-flex justify-content-center text-center">
        <div class="d-flex flex-column justify-content-center">
            <div class="container text-white">
                <h2>SKILLS</h2>
                <hr>
                <div class="container-fluid">
                    <ul class="list-group list-group-flush list-group-horizontal-sm gap-3 text-break">
                        <li class="list-group-item bg-transparent border-0" id="l1">
                            <span style="font-size: 3em; color: Tomato;">
                                <fa-icon [icon]="faHtml5"></fa-icon>
                            </span>
                        </li>
                        <li class="list-group-item bg-transparent border-0" id="l2">
                            <span style="font-size: 3em; color: Tomato;">
                                <fa-icon [icon]="faCss3Alt"></fa-icon>
                            </span>
                        </li>
                        <li class="list-group-item bg-transparent border-0" id="l3">
                            <span style="font-size: 3em; color: Tomato;">
                                <fa-icon [icon]="faJs"></fa-icon>
                            </span>
                        </li>
                        <li class="list-group-item bg-transparent border-0" id="l4">
                            <span style="font-size: 3em; color: Tomato;">
                                <fa-icon [icon]="faAngular"></fa-icon>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</div>