section {
  overflow: hidden;
  min-height: 100vh;
  max-width: 90%;
  width: 40rem;
  margin: auto;
}

.btn {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.progress {
  border-radius: 0 10px 10px 0 !important;
  min-height: 32px;
  min-width: 7rem;
  background-color: rgb(175, 175, 175);
}

.skill {
  min-width: 90%;
}

.skill-name {
  border-radius: 10px 0 0 10px;
  max-width: 20%;
  max-height: 32px;
  min-width: 4rem;
}

.progress-bar{
  background-color: rgba(100, 18, 87, 1);
}

.cursor-move{
  cursor: move;
}