.bs_p{
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 60%), inset 0 -1px 20px rgb(0 0 0 / 75%);
}

main{
    overflow: auto;
    animation-duration: 1.5s;
    animation-name: display;
}

@keyframes display {
    from{
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}