<div class="container-fluid" id="background">
    <main class="h-100 d-flex align-items-center justify-content-center">
        <div class="text-center" style="width: 24rem;">
            <h2 class="text-white">PROYECTS</h2>
            <div class="card">
                <img src="../../../assets/imgs/background.jpg" class="card-img-top" alt="portfolio">
                <div class="card-body bg-black text-white bg-gradient">
                    <h5 class="card-title">PORTFOLIO</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </main>
</div>