<div class="container-fluid" id="background">
    <main class="h-100 d-flex align-items-center justify-content-center">
        <div class="text-center" style="width: 24rem;">
            <h2 class="text-white">PROYECTS</h2>
            <div class="card">
                <a routerLink="/">
                    <img src="../../../assets/imgs/background.jpg" class="card-img-top" alt="portfolio">
                    <div class="card-body bg-black text-white bg-gradient">
                        <h5 class="card-title">PORTFOLIO</h5>
                        <p class="card-text">First Proyect.</p>
                    </div>
                </a>
            </div>
        </div>
    </main>
</div>