section {
    overflow: hidden;
    min-height: 100vh;
    max-width: 90%;
    width: 40rem;
    margin: auto;
  }

a{
    color: transparent;
}

.proyect{
    max-width: 100%;
    width: 32rem;
    margin: auto;
}

.card{
    border-width: 0.2rem;
    border-color: white;
    box-shadow: inset 0 0 5px gray, 0 0 5px gray;
}