<section class="p-3 py-5 d-flex flex-column justify-content-center" id="proyects">
    <div class="text-white text-center">
        <div class="proyect ani">
            <h2 class="text-white">PROYECTS</h2>
            <div class="card">
                <a routerLink="/">
                    <img src="../../../assets/imgs/background.jpg" class="card-img-top" alt="portfolio">
                    <div class="card-body bg-black text-white bg-gradient">
                        <h5 class="card-title">PORTFOLIO</h5>
                        <p class="card-text">First Proyect.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>