/* You can add global styles to this file, and also import other style files */
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #101010;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    width: 30rem;
    height: auto;
    padding: 15px;
}

.bg{
    min-height: 100vh;
    background-color: #202020;
}

.ani{
    animation-duration: 4s;
    animation-name: display;
}

@keyframes display {
    from{
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}