<header class="navbar navbar-expand-lg bd-navbar sticky-top bg-body text-body" data-bs-theme="dark">
    <nav class="container-fluid bd-gutter" aria-label="Main navigation">
        <div class="d-flex">
            <a routerLink="login">
                <button class="btn-outline-light btn" type="button">Login</button>
            </a>
            <span class="text-white nav nav-link d-none d-md-flex">#YoProgramo</span>
        </div>
        <button class="navbar-toggler d-flex d-lg-none" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-label="Toggle navigation" id="openbdNavbar">
            <fa-icon class="text-white" aria-hidden="true" [icon]="faBars"></fa-icon>
        </button>
        <div class="offcanvas-lg offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel"
            data-bs-scroll="true">
            <div class="offcanvas-header justify-content-end">
                <button class="btn-close btn-close-white" type="button" data-bs-dismiss="offcanvas" aria-label="Close"
                    data-bs-target="#bdNavbar">
                </button>
            </div>
            <div class="offcanvas-body">
                <hr>
                <div class="container text-center">
                    <ul class="navbar-nav gap-3">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/" data-bs-dismiss="offcanvas" data-bs-target="#bdNavbar">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/education" data-bs-dismiss="offcanvas" data-bs-target="#bdNavbar">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/skills" data-bs-dismiss="offcanvas" data-bs-target="#bdNavbar">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/proyects" data-bs-dismiss="offcanvas" data-bs-target="#bdNavbar">Proyects</a>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="vr d-none d-lg-flex"></div>
                <div class="container text-center">
                    <ul class="navbar-nav gap-3">
                        <li class="nav-item">
                            <a class="nav-link active" href="https://www.linkedin.com/in/enzo-bautista-862766189/">
                                <fa-icon [icon]="faLinkedin"></fa-icon>
                                <span class="ms-2">Linkedin</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="https://github.com/0David1">
                                <fa-icon [icon]="faGithub"></fa-icon>
                                <span class="ms-2">GitHub</span>
                            </a>
                        </li>
                        <div class="vr d-none d-lg-flex"></div>
                        <li class="nav-item">
                            <a class="nav-link active" href="https://argentinaprograma.inti.gob.ar/">
                                <img class="img-fluid" style="height: 20px;" src="../../../assets/imgs/Logo-arg.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>