<div data-bs-theme="dark" class="container-fluid bg-body text-body">
    <nav class="navbar navbar-expand-md">
            <fa-icon [icon]="faLinkedin"></fa-icon>
            <span>#YoProgramo</span>
            <div class="justify-content-end collapse navbar-collapse">
                <ul class="navbar-nav gap-3">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/">Proyects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/">Skills</a>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggler">
                <fa-icon [icon]="faBars"></fa-icon>
            </button>
    </nav>
</div>