<div class="container-fluid" id="background">
    <main class="h-100 text-center d-flex flex-column justify-content-center">
        <div class="container-fluid text-white">
            <h2 id="title">EDUCATION</h2>
            <div class="container">
                <ul class="list-group list-group-flush gap-3">
                    <li class="list-group-item bg-transparent d-flex" id="l1">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-md-6 offset-md-3 bg-secondary">
                                    <div class="text-break p-2 d-flex bs_p">
                                        <div class="me-3">
                                            <img width="48" src="../../../assets/imgs/google-active.jpg">
                                        </div>
                                        <div>
                                            <h6>Google Active</h6>
                                            <span class="d-flex justify-content-start">date: 10/2022</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex bg-transparent" id="l2">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-md-6 offset-md-3 bg-secondary">
                                    <div class="text-break p-2 d-flex bs_p">
                                        <div class="me-3">
                                            <img width="48" src="../../../assets/imgs/argentina-programa.jpg">
                                        </div>
                                        <div>
                                            <h6>Argentina Programa</h6>
                                            <span class="d-flex justify-content-start">date: 09/2022</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item bg-transparent d-flex" id="l3">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-md-6 offset-md-3 bg-secondary">
                                    <div class="text-break p-2 d-flex bs_p">
                                        <div class="me-3">
                                            <img width="48" src="../../../assets/imgs/google-active.jpg">
                                        </div>
                                        <div>
                                            <h6>Google Active</h6>
                                            <span class="d-flex justify-content-start">date: 09/2022</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</div>