main{
    overflow: hidden;
}

ul{
    list-style: none;
}

.list-group-item{
    border: none;
}

#l1, #l3{
    animation-duration: 2s;
    animation-name: slidein;
}

#l2{
    animation-duration: 2s;
    animation-name: slidein2;
}

#title{
    animation-duration: 3s;
    animation-name: display;
}

@keyframes slidein {
    from {
        translate: 100% 0;
    }

    to {
        translate: 0 0;
      }
}

@keyframes slidein2 {
    from {
        translate: -100% 0;
    }

    to {
        translate: 0 0;
      }
}

@keyframes display {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}