<div class="d-flex justify-content-center align-items-center" id="background">
    <main class="bg-black bg-opacity-75 bg-gradient box py-3">
        <div class="d-flex justify-content-center">
            <h1 class="text-white">Login</h1>
        </div>
        <br>
        <div>
            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

                <div>
                    <input 
                        type="email" 
                        id="nombreUsuario" 
                        name="nombreUsuario" 
                        class="form-control" 
                        [(ngModel)]="nombreUsuario" 
                        [ngModelOptions]="{standalone: true}" 
                        required />
                </div>

                <br />

                <div>
                    <input 
                        type="password" 
                        id="password" 
                        class="form-control" 
                        [(ngModel)]="password" 
                        [ngModelOptions]="{standalone: true}" 
                        required />
                </div>

                <br />

                <div>

                    <button class="form-control btn btn-primary btn-login" type="submit">Login</button>

                </div>

            </form>
        </div>
    </main>
</div>