<section class="d-flex justify-content-center align-items-center bg">
    <div class="bg-black bg-opacity-75 bg-gradient ski py-3 login">
        <div class="container py-3 ani">
            <h1 class="text-white text-center">Login</h1>
        </div>
        <br>
        <div>
            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

                <div>
                    <input type="email" id="nombreUsuario" name="nombreUsuario" placeholder="username" class="form-control"
                        [(ngModel)]="nombreUsuario" [ngModelOptions]="{standalone: true}" required />
                </div>

                <br />

                <div>
                    <input type="password" id="password" placeholder="password" class="form-control" [(ngModel)]="password"
                        [ngModelOptions]="{standalone: true}" required />
                </div>

                <br />

                <div>

                    <button class="form-control btn btn-primary btn-login" type="submit">Login</button>

                </div>

            </form>
        </div>
    </div>
</section>